.delete-account-form {
  width: 400px !important;
}

.info-text {
  margin-bottom: 5px;
}

.info-text .span {
  margin-right: auto;
}

.admin-table-info {
  min-width: 755px;
}

.edit-profile-div {
  padding: 10px;
}

.ml-auto-btn {
  margin-left: auto;
}

.edit-admin-input {
  margin: 0px !important;
}

.edit-profileinfo-div {
  width: 100%;
  max-width: 800px;
}

.edit-profileinfo-div ul {
  list-style: none;
}

.edit-profileinfo-div ul li {
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.425);
}

.edit-profileinfo-div ul li:nth-child(1) {
  padding-top: 10px;
}

.edit-show {
  font-family: "Nunito Sans", sans-serif;
  margin-left: auto;
  color: #444444;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.275rem 0.775rem;
  border: none;
  cursor: pointer;
}

.save-change {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff !important;
  background-color: rgb(29, 44, 255);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.275rem 0.775rem;
  border: none;
  cursor: pointer;
}
.view-account-container .save-change span {
  font-family: "Nunito Sans", sans-serif;

  color: white !important;
  font-weight: 700 !important;
  font-size: 1rem;
}
.save-change svg path {
  fill: white;
}

.profile-li {
  width: 100%;
}

.profile-li h5 {
  font-size: 1rem !important;
  font-weight: 600;
  width: 150px;
  color: #0d6464;
}

.profile-li button {
  display: block;
  margin-left: auto;
}

.profile-form,
.pwd-div,
.role-select-div {
  background-color: #7272721c;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
}

.profile-form div,
.pwd-div div,
.role-select-div div {
  margin-bottom: 10px;
  max-width: 300px;
}

.profile-form input[type="text"],
.profile-form input[type="password"],
.pwd-div input[type="password"],
.role-select-div select {
  width: 100%;
  color: #444444;
  font-weight: 500;
  background-color: #ffffff;
  padding: 0.2rem 0.8rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2px;
}

.profile-form input[type="submit"] {
  margin-top: 10px;
}

.spacing {
  justify-content: space-between;
  margin-bottom: 30px;
}

.edit-admin-input input {
  width: 100% !important;
}

.fullname-email-input {
  width: 48%;
}

.user-role-div {
  position: relative;
}

.user-role-div ul {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  width: 100%;
  margin-top: 5px;
}

.user-role-div ul.open {
  display: block;
}

.user-role-div ul.open input {
  width: 100%;
  color: #444444;
  font-weight: 500;
  background-color: #e4e4e4;
  padding: 0.2rem 0.8rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2px;
}

.form-overlay .account-information {
  overflow-y: auto;
  max-height: 295px;
}

/* .role-select-div,
.pwd-div {
  padding: 10px;
  background-color: #7272721c;
  align-items: baseline !important;
  border-radius: 10px;
} */
