.ingridient-container {
  padding: 50px 20px 20px 220px;
  transition: 200ms;
}

.ingridient-container.shrink {
  padding: 50px 20px 0 60px;
}

.ingridients {
  position: relative;
  width: 100%;
  margin: 70px 0 0 20px;
}

.inventory-table tbody td:nth-child(9) {
  display: none;
}

.inventory-table thead th:nth-child(9) {
  display: none;
}

.tbl-img-data {
  margin-top: 5px;
  border-radius: 50%;
}

@media screen and (max-width: 820px) {
  .form-overlay .head {
    padding-bottom: 10px !important;
  }
  .insert-item-form .col1 {
    display: block;
    padding: 0;
    height: 120px;
    overflow-y: auto;
  }

  .form-overlay-footer {
    padding-top: 10px !important;
  }
}
