.overlay.open {
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.288);
  z-index: 1000;
}

.action-btn-modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 150px;
  background-color: white;
  padding: 20px;
}

.action-btn-modal .head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  justify-content: space-between;
}

.action-btn-modal .head button {
  background-color: white;
  border: none;
}

.action-btn-modal .body {
  padding: 20px;
  justify-content: space-between;
}

.action-btn-modal .body a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border: none;
  cursor: pointer;
  background-color: #f1f1f1;
}

.action-btn-modal .body input[type="submit"] {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border: none;
  cursor: pointer;
  background-color: #f1f1f1;
}

/* .show-action-btn {
  width: 30px !important;
  min-width: 0px !important;
  margin-left: -3px;
}

.waiter-table thead th {
  background-color: rgba(156, 156, 156, 0.089);
  padding: 0.5rem 0rem;
  font-size: 1rem;
}

.waiter-table td {
  padding: 10px 0px;
}

.waiter-table {
  background-color: white;
  width: 100%;
  min-width: 710px;
  overflow: auto;
  border-collapse: collapse;
}

.waiter-table thead {
  background-color: white;
}

.waiter-table thead th {
  color: #242424;
  background-color: rgba(156, 156, 156, 0.089);
  font-size: 1rem;
}

.waiter-table td {
  color: #444444;
  text-align: center;
  width: 200px;
}

.waiter-tbl-status-col{
  display: flex;
  justify-content: center;
  margin: auto;

}
.statul{
  width: 150px;
} */