h1 {
  font-family: "Nunito Sans", sans-serif !important;
}

.receipt-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}

hr {
  width: 100%;
}

table {
  width: 100%;
}

.payment-div {
  justify-content: space-between;
}

.receipt-padding {
  padding: 10px;
}
