@import url("./header.css");
@import url("./index.css");
@import url("./foods.css");
@import url("./store.css");
@import url("./admin.css");
@import url("./registration.css");
@import url("./login.css");
@import url("./tables.css");
@import url("./menu.css");
@import url("./order-confirm.css");
@import url("./bill.css");
@import url("./receipt.css");
@import url("./transaction.css");
@import url("./login_history.css");
@import url("./setting.css");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: rgba(156, 156, 156, 0.089);
}

button {
  font-family: "Nunito Sans", sans-serif !important;
  cursor: pointer;
}

input {
  font-family: "Nunito Sans", sans-serif;
}

h4 {
  color: #0d6464;
  margin-bottom: 5px;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.icons {
  width: 20px;
  height: 20px;
}

.title {
  margin-right: auto;
}

.nav-page {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0px 14px 0 260px;
  background-color: white;
  top: 60px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  transition: 200ms;
  z-index: 4;
}

.nav-page.shrink {
  padding: 0 14px 0 100px;
}

.title .circle-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4d8d85e;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.title .circle-svg svg path {
  fill: #129292;
}

.title h4 {
  color: #0d6464;
  text-decoration: none;
  pointer-events: none;
}

.title a {
  margin-left: auto;
}

.add-item-btn,
.add-admin-btn,
.transaction-btn,
.export-btn,
.roles-btn {
  padding: 0.5rem 1rem;
  color: #444444;
  background-color: rgb(245, 245, 245);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
}

.legend-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid rgb(163, 157, 157);
  background-color: rgba(221, 221, 221, 0.404);
}

/* .legend-btn:hover + .legend-list {
  display: block;
} */

.roles-btn {
  align-items: center;
  background-color: #e4e4e4;
  color: #444444;
  padding: 0.2rem 0.8rem;
}

.roles-btn svg {
  height: 2px;
  width: 2px;
  margin-left: 5px;
  transform: rotate(90deg);
}

.legend-container {
  position: relative;
  margin-left: auto;
}

.legend-list {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1rem;
  min-width: 280px;
  width: auto;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.288);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.legend-list ul {
  margin: 10px 0;
}

.legend-list ul li {
  margin-bottom: 5px;
}

.legend-list.open {
  display: flex;
  overflow-y: auto;
}

.legend-list.open .col1,
.legend-list.open .col2 {
  margin-top: 10px;
}

.legend-list.open button {
  position: absolute;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid rgb(163, 157, 157);
  background-color: rgba(221, 221, 221, 0.404);
}

.legend-list.open .col2 {
  margin-left: 35px;
}

.overlay {
  opacity: 0;
  position: absolute;
  z-index: -1000;
}

.overlay.open {
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.288);
  z-index: 1000;
}

.form-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50%;
  min-width: 387px;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(202, 202, 202, 0.247);
  opacity: 0.5;
  transition: 300ms;
}

.form-overlay.open {
  display: block;
  opacity: 1;
  top: 40%;
}

.form-overlay.remove {
  display: none;
}

.form-overlay .body-col {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.delete-item-form {
  max-width: 500px;
}

.form-overlay .body {
  padding: 20px 0;
}

.form-overlay .body-col .col1,
.form-overlay .body-col .col2 {
  width: 45%;
}

.form-overlay .head {
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.form-overlay span {
  color: #444444;
  font-weight: 500;
}

.form-overlay .add-code {
  justify-content: space-between;
  padding: 10px 0px;
}

.form-overlay .col1 {
  padding: 10px 0px;
}

.form-overlay input[type="text"],
.form-overlay select,
.form-overlay input[type="password"],
.account-information input[type="submit"] {
  height: 30px;
  width: 40%;
  font-size: 1rem;
  padding: 0 0.5rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}

.form-overlay input[type="password"] {
  width: 100%;
}

.form-overlay select {
  min-width: 120px;
}

#insert-ing,
.update-item-form {
  max-width: 588px;
}

.account-information input[type="submit"] {
  width: auto;
  margin-top: 5px;
}

.form-overlay input[type="file"] {
  height: 30px;
  width: 160px;
}

.form-overlay-footer {
  padding-top: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.24);
}

.form-overlay-footer input {
  padding: 0.5rem 1rem;
  color: #f8f8f8;
  background-color: #07df61dc;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}

.form-overlay-footer button {
  padding: 0.5rem 1rem;
  color: #f8f8f8;
  background-color: rgba(255, 51, 0, 0.527);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-left: auto !important;
  cursor: pointer;
}

.close-add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.hide {
  display: none !important;
}

.table-time-td,
.table-time-th {
  width: 80px;
}

.transaction-tbl-data tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}

.modal-head button {
  margin: 0 !important;
}

.alert-warning {
  z-index: 10;
}
@media screen and (max-width: 1007px) {
  .icons {
    height: 17px;
    width: 17px;
  }

  .nav-page {
    top: 50px;
    height: 50px;
  }

  .nav-page.shrink {
    padding: 0 14px 0 14px;
  }

  .title .circle-svg {
    padding: 6px;
  }

  .title h4 {
    font-size: 1rem;
  }

  .form-overlay.open {
    top: 45%;
  }

  h4 {
    font-size: 1.275rem;
  }

  .legend-list {
    flex-direction: column;
    top: 50%;
    height: 80vh;
  }

  .legend-list.open .col2 {
    margin-left: 0;
  }
}
