.tables-container {
  padding: 50px 20px 20px 220px;
  transition: 200ms;
}

.tables-container.shrink {
  padding: 50px 20px 0 60px;
}

.tables {
  display: flex;
  position: relative;
  width: 100%;
  margin: 70px 0 0 20px;
  /* padding: 10px 10px 0 10px; */
  align-items: flex-start !important;
  overflow-x: auto;
}

.tables-table thead th {
  background-color: rgba(156, 156, 156, 0.089);
  padding: 0.275rem 0rem;
  font-size: 1rem;
}

.tables-table td {
  height: 50px;
}

.tables-table {
  background-color: white;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

.tables-table thead {
  background-color: white;
}

.tables-table thead th {
  color: #242424;
  background-color: rgba(156, 156, 156, 0.089);
  font-size: 1rem;
  border-right: 1px solid rgba(128, 128, 128, 0.055);
}

.tables-table tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.055);
}

.tables-table td {
  color: #444444;
  text-align: center;
  font-weight: 600;
}

.action-td form input[type="submit"],
.action-td button {
  font-family: "Nunito Sans", sans-serif;
  margin: auto;
  color: #444444;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.275rem 0.775rem;
  border: none;
  cursor: pointer;
}

.table-data-status {
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 10px;
  border-radius: 50%;
}

.table-data-status.red {
  background-color: #ff5555;
}

.table-data-status.green {
  background-color: #22f300;
}

.table-data-status.yellow {
  background-color: #ffe141;
}

.table-data-status.blue {
  background-color: #416bff;
}

.order-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 500px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.order-info .head {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  justify-content: space-between;
}

.order-info .body {
  overflow: auto;
  padding: 20px 0px;
}

.order-table {
  min-width: 0px !important;
  display: flex;
  flex-flow: column;
  border-collapse: collapse;
}

.order-table thead {
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
  display: table;
  table-layout: fixed;
}

.order-table tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  max-height: 270px;
  scrollbar-color: rgb(224, 224, 224) rgb(255, 255, 255);
  scrollbar-width: thin;
}

.order-table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}

.order-table th {
  width: 30%;
}

.table-timer-col.table-1-time.endtime,
.table-timer-col.table-2-time.endtime,
.table-timer-col.table-3-time.endtime,
.table-timer-col.table-4-time.endtime,
.table-timer-col.table-5-time.endtime,
.table-timer-col.table-6-time.endtime,
.table-timer-col.table-7-time.endtime,
.table-timer-col.table-8-time.endtime {
  color: red;
}

.table-timer-col.table-1-time.warningtime,
.table-timer-col.table-2-time.warningtime,
.table-timer-col.table-3-time.warningtime,
.table-timer-col.table-4-time.warningtime,
.table-timer-col.table-5-time.warningtime,
.table-timer-col.table-6-time.warningtime,
.table-timer-col.table-7-time.warningtime,
.table-timer-col.table-8-time.warningtime {
  color: rgb(255, 115, 0);
}

.table-timer-col.table-1-time.runningtime,
.table-timer-col.table-2-time.runningtime,
.table-timer-col.table-3-time.runningtime,
.table-timer-col.table-4-time.runningtime,
.table-timer-col.table-5-time.runningtime,
.table-timer-col.table-6-time.runningtime,
.table-timer-col.table-7-time.runningtime,
.table-timer-col.table-8-time.runningtime {
  color: rgb(17, 0, 255);
}

.orders-list .pad10,
.transaction-tbl-data .pad10 {
  padding-top: 12px;
}

.orders-table {
  margin: auto;
}

.orders-table td {
  text-align: left;
  height: 30px;
}

.order-x-col {
  width: 50px;
  text-align: center !important;
}

.waiter-table {
  min-width: 536px;
}

.cleaner-table {
  min-width: 502px;
}

.cashier-tbl-data {
  min-width: 767px;
}

.foods-table {
  min-width: 620px;
}

.close-order-btn {
  background-color: white;
  border: none;
}

@media screen and (max-width: 1007px) {
  .tables {
    margin: 50px 0 0 20px;
  }

  .tables-container.shrink {
    padding: 50px 0px 0 0px;
  }
}
