.tables-container {
  padding: 50px 20px 20px 220px;
  transition: 200ms;
}

.tables-container.shrink {
  padding: 50px 20px 0 60px;
}

.tables {
  display: flex;
  position: relative;
  width: 100%;
  margin: 70px 0 0 20px;
  /* padding: 10px 10px 0 10px; */
  align-items: flex-start !important;
  overflow-x: auto;
}

.action-td form input[type="submit"],
.action-td button {
  font-family: "Nunito Sans", sans-serif;
  margin: auto;
  color: #444444;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.275rem 0.775rem;
  border: none;
  cursor: pointer;
}

.table-data-status {
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 10px;
  border-radius: 50%;
}

.table-data-status.gray {
  background-color: #313131;
}

.table-data-status.red {
  background-color: #ff5555;
}

.table-data-status.green {
  background-color: #22f300;
}

.table-data-status.yellow {
  background-color: #ffe141;
}

.table-data-status.blue {
  background-color: #416bff;
}

.table-data-status.notify {
  background-color: #ffa807;
}

.table-data-status.nopayment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
}

.table-data-status.nopayment span {
  height: 60%;
  width: 60%;
  background-color: #313131;
  border-radius: 50%;
}

.table-data-status.pendingpayment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 241, 71, 0.295);
}

.table-data-status.pendingpayment span {
  background-color: rgb(255, 166, 0);
  height: 60%;
  width: 60%;
  border-radius: 50%;
}

.table-data-status.requestingpayment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 241, 142, 0.295);
  border: 2px solid rgb(245, 242, 59);
}

.table-data-status.requestingpayment span {
  height: 60%;
  width: 60%;
  background-color: rgb(255, 166, 0);
  border-radius: 50%;
}

.table-data-status.completepayment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(155, 250, 142, 0.137);
}

.table-data-status.completepayment span {
  width: 60%;
  height: 60%;
  background-color: rgb(5, 172, 19);
  border-radius: 50%;
}

.order-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 80%;
  max-width: 500px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.order-info .head {
  padding-bottom: 20px;
  justify-content: space-between;
}

.order-info .body {
  overflow: auto;
  padding: 20px 0px;
}

.order-table {
  min-width: 0px !important;
  display: flex;
  flex-flow: column;
  border-collapse: collapse;
}

.order-table thead {
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
  display: table;
  table-layout: fixed;
}

.order-table tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  max-height: 270px;
  scrollbar-color: rgb(224, 224, 224) rgb(255, 255, 255);
  scrollbar-width: thin;
}

.order-table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}

.order-table th {
  width: 30%;
}

.table-timer-col.endtime {
  color: red;
  font-weight: 700;
}

.table-timer-col.warningtime {
  color: rgb(255, 115, 0);
  font-weight: 700;
}

.table-timer-col.runningtime {
  color: rgb(91, 94, 250);
  font-weight: 700;
}

.table-timer-col.runningtimeend {
  color: rgb(25, 241, 6);
}

.requesting {
  display: block;
  border-radius: 5px;
  background-color: rgba(241, 241, 142, 0.295);
  color: rgb(255, 166, 0);
  border: 2px solid rgb(245, 242, 59);
  width: 100px;
  font-weight: 700;
}

.pending {
  display: block;
  border-radius: 5px;
  background-color: rgba(241, 241, 71, 0.295);
  color: rgb(255, 166, 0);
  width: 100px;
  font-weight: 700;
}

.cancelled {
  display: block;
  border-radius: 5px;
  background-color: rgba(241, 241, 71, 0.295);
  color: red;
  width: 100px;
  font-weight: 700;
}

.completed {
  display: block;
  border-radius: 5px;
  background-color: rgba(155, 250, 142, 0.137);
  color: rgb(5, 172, 19);
  width: 100px;
  font-weight: 700;
}

.noorder {
  display: block;
  border-radius: 5px;
  background-color: rgba(114, 114, 114, 0.062);
  color: rgb(90, 90, 90);
  width: 100px;
  font-weight: 600;
}

.orders-list .pad10,
.transaction-tbl-data .pad10,
.transaction-tbl-data-date .pad10 {
  padding-top: 12px;
}

.orders-table {
  margin: auto;
}

.orders-table td {
  text-align: left;
  height: 30px;
}

.order-x-col {
  width: 50px;
  text-align: center !important;
}

.waiter-table {
  min-width: 536px;
}

.cleaner-table {
  min-width: 502px;
}

.cashier-tbl-data {
  min-width: 782px;
}

.ing-table {
  min-width: 900px;
}

.foods-table {
  min-width: 620px;
}

.close-order-btn {
  background-color: white;
  border: none;
}

.order-information {
  padding-top: 0px !important;
}

@media screen and (max-width: 1007px) {
  .tables {
    margin: 50px 0 0 20px;
  }

  .tables-container.shrink {
    padding: 50px 0px 0 0px;
  }

  .order-info {
    transform: translate(-50%, 10%);
    height: 280px;
  }

  .order-table {
    height: 180px !important;
  }
}
